/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nobile:wght@400;700&display=swap');

@font-face {
  font-family: "Gafiton";
  src: url("/fonts/Gafiton.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

